In [ ]:
import numpy as np
import pandas as pd
print(pd.__version__)

## 1. Create a Pandas DataFrame from a dictionary
<pre>Given Input:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Salary': [50000, 70000, 90000, 110000]}

Desired Output:
    Name	 Age	Salary
0	Alice	 25	 50000
1	Bob	   30	 70000
2	Charlie   35	 90000
3	David	 40	 110000
</pre>

In [294]:
data = pd.DataFrame({'Name' : ['Alice','Bob', 'Charlie', 'David' ],
       'Age' : [25, 30, 35, 40],
       'Salary' :[50000, 70000, 90000, 110000]
      })
data

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   70000
2  Charlie   35   90000
3    David   40  110000

In [188]:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'Salary': [50000, 70000, 90000, 110000]}

## 2. Load a CSV file into a Pandas DataFrame
Given iris CSV dataset: iris.csv

In [307]:
df = pd.read_csv('iris.csv')
df

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

## 3. View the first, last and sample of 2 rows of a DataFrame
Given the iris df above

In [191]:
df.head(2)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa

In [192]:
df.tail(2)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [193]:
df.head(2)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa

In [194]:
df.tail(2)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

In [195]:
df.sample(2)

     SepalLength  SepalWidth  PetalLength  PetalWidth             Name
144          6.7         3.3          5.7         2.5   Iris-virginica
62           6.0         2.2          4.0         1.0  Iris-versicolor

## 4. Get basic information and descriptive statistics about a DataFrame

In [153]:
# info

In [196]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [155]:
# basic stats, min, max, mean, std ...

In [197]:
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

## 5. Get all statistics about a DataFrame

In [157]:
# show all columns stats

In [158]:
df.describe(include='all')

        SepalLength  SepalWidth  PetalLength  PetalWidth         Name
count    150.000000  150.000000   150.000000  150.000000          150
unique          NaN         NaN          NaN         NaN            3
top             NaN         NaN          NaN         NaN  Iris-setosa
freq            NaN         NaN          NaN         NaN           50
mean       5.843333    3.054000     3.758667    1.198667          NaN
std        0.828066    0.433594     1.764420    0.763161          NaN
min        4.300000    2.000000     1.000000    0.100000          NaN
25%        5.100000    2.800000     1.600000    0.300000          NaN
50%        5.800000    3.000000     4.350000    1.300000          NaN
75%        6.400000    3.300000     5.100000    1.800000          NaN
max        7.900000    4.400000     6.900000    2.500000          NaN

In [198]:
df.describe(include='O') # only show object

               Name
count           150
unique            3
top     Iris-setosa
freq             50

## 6. Select multiple columns by column name of a DataFrame

In [160]:
# select 'SepalLength','SepalWidth','Name'

In [199]:
df[['SepalLength','SepalWidth', 'Name']]

     SepalLength  SepalWidth            Name
0            5.1         3.5     Iris-setosa
1            4.9         3.0     Iris-setosa
2            4.7         3.2     Iris-setosa
3            4.6         3.1     Iris-setosa
4            5.0         3.6     Iris-setosa
..           ...         ...             ...
145          6.7         3.0  Iris-virginica
146          6.3         2.5  Iris-virginica
147          6.5         3.0  Iris-virginica
148          6.2         3.4  Iris-virginica
149          5.9         3.0  Iris-virginica

[150 rows x 3 columns]

## 7. Select multiple columns by index of a DataFrame

In [162]:
# select df all rows from column [0,1,4]

In [200]:
df.iloc[:, [0,1,4]]

     SepalLength  SepalWidth            Name
0            5.1         3.5     Iris-setosa
1            4.9         3.0     Iris-setosa
2            4.7         3.2     Iris-setosa
3            4.6         3.1     Iris-setosa
4            5.0         3.6     Iris-setosa
..           ...         ...             ...
145          6.7         3.0  Iris-virginica
146          6.3         2.5  Iris-virginica
147          6.5         3.0  Iris-virginica
148          6.2         3.4  Iris-virginica
149          5.9         3.0  Iris-virginica

[150 rows x 3 columns]

## 8. Select a subset of rows and columns of a DataFrame

In [164]:
# first 2 rows of [0,1,4] columns

In [201]:
df.iloc[:2, [0,1,4]]

   SepalLength  SepalWidth         Name
0          5.1         3.5  Iris-setosa
1          4.9         3.0  Iris-setosa

In [166]:
# last 2 rows of [0,1,4] columns

In [167]:
df.iloc[-2:, [0,1,4]]

     SepalLength  SepalWidth            Name
148          6.2         3.4  Iris-virginica
149          5.9         3.0  Iris-virginica

## 9. Filter a DataFrame by condition

In [168]:
# The most proper way is using .loc
# select all rows 'PetalLength' > 6.4

In [202]:
df.loc[df['PetalLength'] > 6.4]

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
105          7.6         3.0          6.6         2.1  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica

In [203]:
# This is also OK for simple condition without other function
# try select all rows 'PetalLength' > 6.4 using other method
df.loc[df.PetalLength > 6.4]

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
105          7.6         3.0          6.6         2.1  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica

## 10. Filter a DataFrame by condition

In [171]:
# The quickest way is using indexed location
# use iloc to filter 'PetalLength' > 6.4

In [172]:
df.iloc[(df.iloc[:, 2] > 6.4).values]

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
105          7.6         3.0          6.6         2.1  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica

## 11. Sort a DataFrame by a column

In [173]:
# sort df by 'SepalLength'

In [204]:
df2 = df.sort_values(by ='SepalLength', ascending=[True])
df2

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
13           4.3         3.0          1.1         0.1     Iris-setosa
42           4.4         3.2          1.3         0.2     Iris-setosa
38           4.4         3.0          1.3         0.2     Iris-setosa
8            4.4         2.9          1.4         0.2     Iris-setosa
41           4.5         2.3          1.3         0.3     Iris-setosa
..           ...         ...          ...         ...             ...
122          7.7         2.8          6.7         2.0  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
131          7.9         3.8          6.4         2.0  Iris-virginica

[150 rows x 5 columns]

## 12. Sort a DataFrame by multiple column

In [175]:
# sort 'SepalLength','SepalLength', by desc and desc order, print first 10 rows

In [205]:
df3 = df.sort_values(by = ['SepalLength', 'SepalWidth'], ascending=[False, False]).head(10)
df3

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
131          7.9         3.8          6.4         2.0  Iris-virginica
117          7.7         3.8          6.7         2.2  Iris-virginica
135          7.7         3.0          6.1         2.3  Iris-virginica
122          7.7         2.8          6.7         2.0  Iris-virginica
118          7.7         2.6          6.9         2.3  Iris-virginica
105          7.6         3.0          6.6         2.1  Iris-virginica
130          7.4         2.8          6.1         1.9  Iris-virginica
107          7.3         2.9          6.3         1.8  Iris-virginica
109          7.2         3.6          6.1         2.5  Iris-virginica
125          7.2         3.2          6.0         1.8  Iris-virginica

## 13. Group a DataFrame by a column and calculate mean 
Group DataFrame using a mapper or by a Series of columns

In [206]:
# return mean of 3 species' SepalLength	SepalWidth	PetalLength	PetalWidth
#df.groupby("Name")[["SepalLength", "SepalWidth", "PetalLength", "PetalWidth"]].mean()
df.groupby('Name').mean()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026

In [178]:
df.groupby('Name')['SepalLength'].mean()

Name
Iris-setosa        5.006
Iris-versicolor    5.936
Iris-virginica     6.588
Name: SepalLength, dtype: float64

In [179]:
# return SD of 3 species' SepalLength	SepalWidth	PetalLength	PetalWidth

In [207]:
df.groupby("Name")[["SepalLength", "SepalWidth", "PetalLength", "PetalWidth"]].std()

                 SepalLength  SepalWidth  PetalLength  PetalWidth
Name
Iris-setosa         0.352490    0.381024     0.173511    0.107210
Iris-versicolor     0.516171    0.313798     0.469911    0.197753
Iris-virginica      0.635880    0.322497     0.551895    0.274650

## 14. Add a new column to a DataFrame

In [181]:
# The most proper way, is to add column followed df.index
# use df.loc[df.index, 'Volume'] 
# np.pi * 'SepalWidth'**2 * 'PetalLength'
# df.sample(3)

In [212]:
df.loc[df.index, ['Volume']]  = np.pi * (df['SepalWidth']**2) * df['PetalLength']
df.sample(3)

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name,Volue,Volume
145,6.7,3.0,5.2,2.3,Iris-virginica,147.026536,147.026536
46,5.1,3.8,1.6,0.2,Iris-setosa,72.583357,72.583357
59,5.2,2.7,3.9,1.4,Iris-versicolor,89.318621,89.318621

## 15. Rename an existing column

In [213]:
# Rename 'Species' as 'Name'
df.rename(columns = {'Name':'Species'})
df.head(3)

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name,Volue,Volume
0,5.1,3.5,1.4,0.2,Iris-setosa,53.878314,53.878314
1,4.9,3.0,1.4,0.2,Iris-setosa,39.584067,39.584067
2,4.7,3.2,1.3,0.2,Iris-setosa,41.820881,41.820881

## 16. Drop a column

In [214]:
#drop 'Volume'
df.drop(['Volume'], axis = 1) # axis is column

,SepalLength,SepalWidth,PetalLength,PetalWidth,Name,Volue
0,5.1,3.5,1.4,0.2,Iris-setosa,53.878314
1,4.9,3.0,1.4,0.2,Iris-setosa,39.584067
2,4.7,3.2,1.3,0.2,Iris-setosa,41.820881
3,4.6,3.1,1.5,0.2,Iris-setosa,45.286058
4,5.0,3.6,1.4,0.2,Iris-setosa,57.001057
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,Iris-virginica,147.026536
146,6.3,2.5,5.0,1.9,Iris-virginica,98.174770
147,6.5,3.0,5.2,2.0,Iris-virginica,147.026536
148,6.2,3.4,5.4,2.3,Iris-virginica,196.110780
149,5.9,3.0,5.1,1.8,Iris-virginica,144.199103

## 17. Data cleaning - dropna, fillna
<pre>Given Input:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Elle'],
        'Salary': [50000, 70000, 60000, 90000, np.NaN]}
payroll = pd.DataFrame(data)

Requirement:
1. Drop NaN
2. Fill NaN with zero
3. Fill NaN with mean
4. Fill NaN with median</pre>

In [215]:
payroll = pd.DataFrame({'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Elle'],
        'Salary': [50000, 70000, 60000, 90000, np.NaN]})

payroll

      Name   Salary
0    Alice  50000.0
1      Bob  70000.0
2  Charlie  60000.0
3    David  90000.0
4     Elle      NaN

In [ ]:
# fill nan with mean

In [216]:
payroll.fillna(payroll['Salary'].mean())

      Name   Salary
0    Alice  50000.0
1      Bob  70000.0
2  Charlie  60000.0
3    David  90000.0
4     Elle  67500.0

In [ ]:
# fill nan with median

In [217]:
payroll.fillna(payroll['Salary'].median())

      Name   Salary
0    Alice  50000.0
1      Bob  70000.0
2  Charlie  60000.0
3    David  90000.0
4     Elle  65000.0

In [218]:
# use dropna
data.dropna()

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   70000
2  Charlie   35   90000
3    David   40  110000

In [ ]:
# fill nan with 0

In [219]:
data.fillna(0)

      Name  Age  Salary
0    Alice   25   50000
1      Bob   30   70000
2  Charlie   35   90000
3    David   40  110000

## 18. Find the unique value and number of unique value
<pre>In Iris DF, find :
1. Unique Iris species names
2. How many kinds of species
3. How many sample in each species</pre>

In [220]:
df["Name"].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [221]:
df["Name"].nunique()

3

In [222]:
df.Name.value_counts()

Name
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [223]:
df["Name"].value_counts()

Name
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

## 19. Replace values in a DataFrame
<pre>Change the Species names in iris DF:
Given Input:
df = df.replace({'Iris-setosa': 'Setosa', 
            'Iris-versicolor': 'Versicolor',
           'Iris-virginica':'Virginica'})

Desired Output:
['Setosa', 'Versicolor', 'Virginica']</pre>

In [ ]:
df = df.replace({'Iris-setosa': 'Setosa', 
            'Iris-versicolor': 'Versicolor',
           'Iris-virginica':'Virginica'})
# unique

In [224]:
df = df.replace({'Iris-setosa': 'Setosa', 
            'Iris-versicolor': 'Versicolor',
           'Iris-virginica':'Virginica'})

df['Name'].unique()

array(['Setosa', 'Versicolor', 'Virginica'], dtype=object)

## 20. Replace values where the condition is False
<pre>Let's assume a species is large if its SepalLength is bigger
than mean. Create a new column 'LargeSpecies' and fill with 
Boolean to identify if the species belong to LargeSpecies.

You may create a column to fill with False first.
$> df.loc[df.index, 'LargeSpecies'] = False
</pre>

In [298]:
df['SepalLength'].mean()

5.843333333333334

In [320]:
#一開始俾晒 0 落新colnum先， 全False 
df.loc[df.index, 'LargeSpecies'] = 0
df['LargeSpecies'] = df['LargeSpecies'].astype('bool')
df.sample(2)

,Name,SepalLength,SepalWidth,PetalLength,PetalWidth,LargeSpecies
68,Iris-versicolor,6.2,2.2,4.5,1.5,False
19,Iris-setosa,5.1,3.8,1.5,0.3,False

In [321]:
# 
df['LargeSpecies'] = df['LargeSpecies'].where(
    df['SepalLength']<df['SepalLength'].mean(), True)
df.sample(5)

,Name,SepalLength,SepalWidth,PetalLength,PetalWidth,LargeSpecies
118,Iris-virginica,7.7,2.6,6.9,2.3,True
1,Iris-setosa,4.9,3.0,1.4,0.2,False
62,Iris-versicolor,6.0,2.2,4.0,1.0,True
92,Iris-versicolor,5.8,2.6,4.0,1.2,False
53,Iris-versicolor,5.5,2.3,4.0,1.3,False

Series.where() & Series.mask()

In [228]:
p = pd.Series([1,2,3,4,5])
p

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [229]:
# replace values where the condition is False 
p.where(p<=3, 'Where P<=3 is false')
#pandas where, find false

0                      1
1                      2
2                      3
3    Where P<=3 is false
4    Where P<=3 is false
dtype: object

In [230]:
# replace values where the condition is True
p.mask(p<=3, 'Where P<=3 is true')
#panda marks, find  True

0    Where P<=3 is true
1    Where P<=3 is true
2    Where P<=3 is true
3                     4
4                     5
dtype: object

## 21. Replace values where the condition is True
<pre>df.mask() is the opposite of df.where()
df.mask(cond, other) will replace value with other if cond is True.

Let's create another column
df.loc[df.index, 'SmallSpecies'] = 0
df['SmallSpecies'] = df['SmallSpecies'].astype('bool')
Replace the Boolean to True if 'SepalLength' smaller and equal
to mean.
</pre>

In [322]:
df.loc[df.index, 'SmallSpecies'] = 0
df['SmallSpecies'] = df['SmallSpecies'].astype('bool')
df

,Name,SepalLength,SepalWidth,PetalLength,PetalWidth,LargeSpecies,SmallSpecies
0,Iris-setosa,5.1,3.5,1.4,0.2,False,False
1,Iris-setosa,4.9,3.0,1.4,0.2,False,False
2,Iris-setosa,4.7,3.2,1.3,0.2,False,False
3,Iris-setosa,4.6,3.1,1.5,0.2,False,False
4,Iris-setosa,5.0,3.6,1.4,0.2,False,False
...,...,...,...,...,...,...,...
145,Iris-virginica,6.7,3.0,5.2,2.3,True,False
146,Iris-virginica,6.3,2.5,5.0,1.9,True,False
147,Iris-virginica,6.5,3.0,5.2,2.0,True,False
148,Iris-virginica,6.2,3.4,5.4,2.3,True,False
149,Iris-virginica,5.9,3.0,5.1,1.8,True,False

In [327]:
df['SampleSize'] = np.where(
    df['SepalLength'] > df.SepalLength.mean(),
    'Large',
    'Small'
)
df

,Name,SepalLength,SepalWidth,PetalLength,PetalWidth,LargeSpecies,SmallSpecies,SampleSize
0,Iris-setosa,5.1,3.5,1.4,0.2,False,False,Small
1,Iris-setosa,4.9,3.0,1.4,0.2,False,False,Small
2,Iris-setosa,4.7,3.2,1.3,0.2,False,False,Small
3,Iris-setosa,4.6,3.1,1.5,0.2,False,False,Small
4,Iris-setosa,5.0,3.6,1.4,0.2,False,False,Small
...,...,...,...,...,...,...,...,...
145,Iris-virginica,6.7,3.0,5.2,2.3,True,False,Large
146,Iris-virginica,6.3,2.5,5.0,1.9,True,False,Large
147,Iris-virginica,6.5,3.0,5.2,2.0,True,False,Large
148,Iris-virginica,6.2,3.4,5.4,2.3,True,False,Large
149,Iris-virginica,5.9,3.0,5.1,1.8,True,False,Large

In [ ]:
# Double check. Add up the LargeSpecies(True) and SmallSpecies(True)

## 22. Fill values with numpy.where
<pre>Requirement:
1. Create new column 'SampleSize'
2. Fill it 'Large' if SepalLength > mean, else 'Small'.

Given Input:
Drop column 'LargeSpecies' and 'SmallSpecies'
df = df.drop(['LargeSpecies','SmallSpecies'], axis=1)

Desired Output:

</pre>

In [331]:
df['LargeSpecies'].value_counts()

LargeSpecies
False    80
True     70
Name: count, dtype: int64

In [314]:
df.sample(3)

               Name  SepalLength  SepalWidth  PetalLength  PetalWidth
6       Iris-setosa          4.6         3.4          1.4         0.3
71  Iris-versicolor          6.1         2.8          4.0         1.3
97  Iris-versicolor          6.2         2.9          4.3         1.3

## 23. Change DataFrame column postion

In [310]:
df.describe()

       SepalLength  SepalWidth  PetalLength  PetalWidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

In [ ]:
'Species', 'SepalLength', 'SepalWidth',
         'PetalLength', 'PetalWidth', 'SampleSize'

In [318]:

df = df[['Name', 'SepalLength', 'SepalWidth',
         'PetalLength', 'PetalWidth']]
df.sample(3)

               Name  SepalLength  SepalWidth  PetalLength  PetalWidth
107  Iris-virginica          7.3         2.9          6.3         1.8
26      Iris-setosa          5.0         3.4          1.6         0.4
142  Iris-virginica          5.8         2.7          5.1         1.9

## 24. Apply a function on a column
Let's change the data in SampleSize field to Uppercase
.apply

In [329]:
df['SampleSize'] = df['SampleSize'].apply(lambda x: x.upper())

In [330]:
df.sample(5)

,Name,SepalLength,SepalWidth,PetalLength,PetalWidth,LargeSpecies,SmallSpecies,SampleSize
115,Iris-virginica,6.4,3.2,5.3,2.3,True,False,LARGE
106,Iris-virginica,4.9,2.5,4.5,1.7,False,False,SMALL
64,Iris-versicolor,5.6,2.9,3.6,1.3,False,False,SMALL
139,Iris-virginica,6.9,3.1,5.4,2.1,True,False,LARGE
141,Iris-virginica,6.9,3.1,5.1,2.3,True,False,LARGE

In [ ]:
df.head(5)

## 25. Map dict or function on a column

In [332]:
df['SampleSize'] = df['SampleSize'].map({'SMALL': 'Small Iris', 
                                         'LARGE': 'Large Iris'})

In [333]:
df.sample(5)

,Name,SepalLength,SepalWidth,PetalLength,PetalWidth,LargeSpecies,SmallSpecies,SampleSize
126,Iris-virginica,6.2,2.8,4.8,1.8,True,False,Large Iris
145,Iris-virginica,6.7,3.0,5.2,2.3,True,False,Large Iris
74,Iris-versicolor,6.4,2.9,4.3,1.3,True,False,Large Iris
111,Iris-virginica,6.4,2.7,5.3,1.9,True,False,Large Iris
89,Iris-versicolor,5.5,2.5,4.0,1.3,False,False,Small Iris

In [336]:
df['SampleSize'] = df['SampleSize'].apply(lambda x: 'Large Iris' if x == 'Large' else 'Small Iris')
df.sample(5)

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,Name,SepalLength,SepalWidth,PetalLength,PetalWidth,LargeSpecies,SmallSpecies,SampleSize
10,Iris-setosa,5.4,3.7,1.5,0.2,False,False,Small Iris
15,Iris-setosa,5.7,4.4,1.5,0.4,False,False,Small Iris
41,Iris-setosa,4.5,2.3,1.3,0.3,False,False,Small Iris
139,Iris-virginica,6.9,3.1,5.4,2.1,True,False,Small Iris
106,Iris-virginica,4.9,2.5,4.5,1.7,False,False,Small Iris

## 26. Map a function on multiple column or whole DF

In [334]:
df[['SepalLength','SepalWidth','PetalLength','PetalWidth']] = df[[
    'SepalLength','SepalWidth','PetalLength','PetalWidth']].map(lambda x: str(x) )

In [335]:
df.sample(5)

,Name,SepalLength,SepalWidth,PetalLength,PetalWidth,LargeSpecies,SmallSpecies,SampleSize
48,Iris-setosa,5.3,3.7,1.5,0.2,False,False,Small Iris
96,Iris-versicolor,5.7,2.9,4.2,1.3,False,False,Small Iris
67,Iris-versicolor,5.8,2.7,4.1,1.0,False,False,Small Iris
134,Iris-virginica,6.1,2.6,5.6,1.4,True,False,Large Iris
137,Iris-virginica,6.4,3.1,5.5,1.8,True,False,Large Iris