In [3]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.io as pio
import plotly.offline as pyo

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# Group by

In [4]:
# create a dataframe of car models by two companies
df = pd.DataFrame({
    'Company': ['A', 'A', 'A', 'B', 'B', 'B', 'B'],
    'Model': ['A1', 'A2', 'A3', 'B1', 'B2', 'B3', 'B4'],
    'Year': [2019, 2020, 2021, 2018, 2019, 2020, 2021],
    'Transmission': ['Manual', 'Automatic', 'Automatic', 
            'Manual', 'Automatic', 'Automatic', 'Manual'],
    'EngineSize': [1.4, 2.0, 1.4, 1.5, 2.0, 1.5, 1.5],
    'MPG': [55.4, 67.3, 58.9, 52.3, 64.2, 68.9, 83.1]
})
# display the dataframe
df

  Company Model  Year Transmission  EngineSize   MPG
0       A    A1  2019       Manual         1.4  55.4
1       A    A2  2020    Automatic         2.0  67.3
2       A    A3  2021    Automatic         1.4  58.9
3       B    B1  2018       Manual         1.5  52.3
4       B    B2  2019    Automatic         2.0  64.2
5       B    B3  2020    Automatic         1.5  68.9
6       B    B4  2021       Manual         1.5  83.1

In [5]:
df.groupby(['Company'])['MPG'].max()

Company
A    67.3
B    83.1
Name: MPG, dtype: float64

In [7]:
# alternatively.you can pass 'max' to the agg() function

In [8]:
df.groupby(['Company'])['MPG'].agg('max')

Company
A    67.3
B    83.1
Name: MPG, dtype: float64

In [9]:
df.groupby(['Company'])['MPG'].agg(['max', 'min', 'mean', 'count', 'std', 'median'] )

          max   min       mean  count        std  median
Company
A        67.3  55.4  60.533333      3   6.115826   58.90
B        83.1  52.3  67.125000      4  12.736921   66.55

# .concat ---> Add new row

### Use pd.concat([df, new_df], ignore_index=True) to add new row of data.

In [ ]:
# # DO NOT USE df.append()
# df.append(pd.DataFrame({
#     "Company":["C"],
#     "Model":["C1"],
#     "Year":[2023],
#     "Transmission":["Automatic"],
#     "EngineSize":[1.8] ,
#     "MPG":[70],
# }))

In [10]:
df = pd.concat([df, pd.DataFrame({
                                "Company":["C"],
                                "Model":["C1"],
                                "Year":[2023],
                                "Transmission":["Automatic"],
                                "EngineSize":[1.8] ,
                                "MPG":[70],
                                })
                ], ignore_index=True)
df

  Company Model  Year Transmission  EngineSize   MPG
0       A    A1  2019       Manual         1.4  55.4
1       A    A2  2020    Automatic         2.0  67.3
2       A    A3  2021    Automatic         1.4  58.9
3       B    B1  2018       Manual         1.5  52.3
4       B    B2  2019    Automatic         2.0  64.2
5       B    B3  2020    Automatic         1.5  68.9
6       B    B4  2021       Manual         1.5  83.1
7       C    C1  2023    Automatic         1.8  70.0

In [12]:
df_exam = pd.DataFrame({'Score':np.random.randint(1,101, size =40)})

In [13]:
df_exam.head(6)

   Score
0     78
1     37
2     23
3     64
4     38
5     13

In [16]:
np.where(df_exam['Score'] > 70, 'Disdtinction',
         np.where(df_exam['Score'] > 60, 'Good',
                 np.where(df_exam['Score']>=50, 'Pass', 'Fail')
                 ))

array(['Disdtinction', 'Fail', 'Fail', 'Good', 'Fail', 'Fail',
       'Disdtinction', 'Good', 'Disdtinction', 'Disdtinction', 'Fail',
       'Fail', 'Pass', 'Fail', 'Fail', 'Disdtinction', 'Pass', 'Fail',
       'Disdtinction', 'Disdtinction', 'Fail', 'Fail', 'Fail', 'Fail',
       'Fail', 'Fail', 'Disdtinction', 'Good', 'Fail', 'Disdtinction',
       'Fail', 'Good', 'Fail', 'Good', 'Disdtinction', 'Fail', 'Good',
       'Disdtinction', 'Pass', 'Fail'], dtype='<U12')

In [20]:
df_exam['Result'] = pd.Series(np.where(df_exam['Score'] > 70, 'Disdtinction',
         np.where(df_exam['Score'] > 60, 'Good',
                 np.where(df_exam['Score']>=50, 'Pass', 'Fail')
                 ))).astype('category')

In [21]:
df_exam.Result.value_counts()

Result
Fail            20
Disdtinction    11
Good             6
Pass             3
Name: count, dtype: int64

In [22]:
df_exam.sample(10)

    Score        Result
27     69          Good
24     47          Fail
10      9          Fail
2      23          Fail
37     88  Disdtinction
35     41          Fail
20     27          Fail
9      92  Disdtinction
28      4          Fail
17     38          Fail

In [ ]:
hsi ['MA20'] = hsi ['Close'].rolkling(20).mean()
hsi ['EWM20'] = hsi ['Close'].ewm(span=20).mean()
hsi ['Zscore20'] = (hsi['Close'] - hsi['MA20'])/ hsi['Close'].rolling(20).std()
hsi['BB_up'] = hsi['Close']+2*hsi['Close'].rolling(20).std()
hsi['BB_lo'] = hsi['Close']-2*hsi['Close'].rolling(20).std()
hsi['SD20'] = hsi['Close'].rolling(20).std()