In [2]:
import pandas as pd
import numpy as np

small_db = pd.read_csv("databases/small.csv")  # for code testing
small_db

      name  AGATC  AATG  TATC
0    Alice      2     8     3
1      Bob      4     1     5
2  Charlie      3     2     5

In [2]:
large_db = pd.read_csv("databases/large.csv")   # for actual run
large_db

         name  AGATC  TTTTTTCT  AATG  TCTAG  GATA  TATC  GAAA  TCTG
0       Albus     15        49    38      5    14    44    14    12
1      Cedric     31        21    41     28    30     9    36    44
2       Draco      9        13     8     26    15    25    41    39
3        Fred     37        40    10      6     5    10    28     8
4       Ginny     37        47    10     23     5    48    28    23
5      Hagrid     25        38    45     49    39    18    42    30
6       Harry     46        49    48     29    15     5    28    40
7    Hermione     43        31    18     25    26    47    31    36
8       James     46        41    38     29    15     5    48    22
9    Kingsley      7        11    18     33    39    31    23    14
10   Lavender     22        33    43     12    26    18    47    41
11       Lily     42        47    48     18    35    46    48    50
12     Lucius      9        13    33     26    45    11    36    39
13       Luna     18        23    35     13    11    19    14    24
14    Minerva     17        49    18      7     6    18    17    30
15    Neville     14        44    28     27    19     7    25    20
16    Petunia     29        29    40     31    45    20    40    35
17      Remus      6        18     5     42    39    28    44    22
18        Ron     37        47    13     25    17     6    13    35
19    Severus     29        27    32     41     6    27     8    34
20     Sirius     31        11    28     26    35    19    33     6
21     Vernon     26        45    34     50    44    30    32    28
22  Zacharias     29        50    18     23    38    24    22     9

In [3]:
# Utilities

def seq(x): 
    """@param: x integer from 1 to 20
       1. Input number 1-20
       2. Open sequence text file 
       3. Output sequence"""
    try:
        s = open(f"sequences/{x}.txt").read()
    except Exception as e:
        s = e
    return s


def find_STR(str_name, seq):  
    """@param: str_name  STR name in small_db or large_db
       @param: seq       sequence
       1. Input STR and text sequence  
       2. Find and return the longest concurrent STR counter
       3. Output the longest consecutive STR number  """
    str_ctr, str_max, prv_i = 0, 0, -1
    str_len = len(str_name)

    for i in range(len(seq)):
        # Previous matched
        if seq[i:(i+str_len)] == str_name and prv_i == i-str_len:  
            str_ctr += 1
            prv_i = i
            if str_ctr > str_max:
                str_max = str_ctr
        
        # New matched
        elif seq[i:(i+str_len)] == str_name :
            str_ctr += 1
            prv_i = i
            if str_ctr > str_max:
                str_max = str_ctr
        
        # Reset str_ctr to zero when it is not consecutive STR find
        elif i - prv_i > str_len:
            str_ctr = 0
        
    return str_max


def seq_check(db, r1, r2):
    """@param: db   small_db or large_db
       @param: r1   1 or 5
       @param: r2   5 or 21
       Usage: seq_check(small_db, 1, 5) or seq_check(large_db, 5, 21)
       1.Find every STR in db one by one
       2.Check the STR in given seq
       3.Return specific STR number count"""
    
    for s in range(r1, r2):
        str_arr = np.array([],dtype=np.int8)
        match = 0

        # check on each STR in db's STR col, eg: AATG, TCTAG
        for col in db.columns[1:db.shape[1]] :
            # append each STR count number to array
            str_arr = np.append(str_arr, find_STR(col, seq(s)))
        print(s, str_arr )

        # check on db to find if there is a match to sequence
        for name in db['name']:
            if (str_arr == db.iloc[:,1:][db['name']==name].to_numpy(dtype=np.int8)).all():
                print(f"Sequnce{s} matched {name}'s DNA.")
                match += 1 
        if match ==0 :
            print(f"Sequnce{s} has No match")

In [ ]:
def find_STR2(str_name, seq):  
    """@param: str_name  STR name in small_db or large_db
       @param: seq       sequence
       1. Input STR and text sequence  
       2. Find and return the longest concurrent STR counter
       3. Output the longest consecutive STR number  """
    str_max = 0

        
    return str_max


def seq_check(db, r1, r2):
    """@param: db   small_db or large_db
       @param: r1   1 or 5
       @param: r2   5 or 21
       Usage: seq_check(small_db, 1, 5) or seq_check(large_db, 5, 21)
       1.Find every STR in db one by one
       2.Check the STR in given seq
       3.Return specific STR number count"""
    
    for s in range(r1, r2):
        str_arr = np.array([],dtype=np.int8)
        match = 0

        # check on each STR in db's STR col, eg: AATG, TCTAG
        for col in db.columns[1:db.shape[1]] :
            # append each STR count number to array
            str_arr = np.append(str_arr, find_STR(col, seq(s)))
        print(s, str_arr )

        # check on db to find if there is a match to sequence
        for name in db['name']:
            if (str_arr == db.iloc[:,1:][db['name']==name].to_numpy(dtype=np.int8)).all():
                print(f"Sequnce{s} matched {name}'s DNA.")
                match += 1 
        if match ==0 :
            print(f"Sequnce{s} has No match")

In [4]:
# sequence check on small db
seq_check(small_db, 1, 5)

1 [4 1 5]
Sequnce1 matched Bob's DNA.
2 [0 1 0]
Sequnce2 has No match
3 [3 3 5]
Sequnce3 has No match
4 [2 8 3]
Sequnce4 matched Alice's DNA.

In [5]:
%%time
# sequence check on large db
seq_check(large_db, 5, 21)

5 [22 33 43 12 26 18 47 41]
Sequnce5 matched Lavender's DNA.
6 [18 23 35 13 11 19 14 24]
Sequnce6 matched Luna's DNA.
7 [37 47 13 25 17  6 13 35]
Sequnce7 matched Ron's DNA.
8 [37 47 10 23  5 48 28 23]
Sequnce8 matched Ginny's DNA.
9 [ 9 13  8 26 15 25 41 39]
Sequnce9 matched Draco's DNA.
10 [15 49 38  5 14 44 14 12]
Sequnce10 matched Albus's DNA.
11 [43 31 18 25 26 47 31 36]
Sequnce11 matched Hermione's DNA.
12 [42 47 48 18 35 46 48 50]
Sequnce12 matched Lily's DNA.
13 [21 45 36  7 10 33 31 35]
Sequnce13 has No match
14 [29 27 32 41  6 27  8 34]
Sequnce14 matched Severus's DNA.
15 [31 11 28 26 35 19 33  6]
Sequnce15 matched Sirius's DNA.
16 [16  9  6 48 11 22 48 12]
Sequnce16 has No match
17 [46 49 48 29 15  5 28 40]
Sequnce17 matched Harry's DNA.
18 [46 49 48 29 15  5 28 41]
Sequnce18 has No match
19 [37 40 10  6  5 10 28  8]
Sequnce19 matched Fred's DNA.
20 [19 24 36 14 12 20 15 25]
Sequnce20 has No match
CPU times: user 199 ms, sys: 6.15 ms, total: 206 ms
Wall time: 234 ms

### Useful Hint

In [6]:
# slicing column with condition
a = large_db.iloc[:,1:][large_db['name']=="Lavender"].to_numpy(dtype=np.int8)
a

array([[22, 33, 43, 12, 26, 18, 47, 41]], dtype=int8)

In [7]:
b = [22, 33, 43, 12, 26, 18, 47, 41]

In [8]:
# check if two array have the same contents
(a == b).all()

True

In [9]:
# Total column number of df
small_db.shape[1]

4

In [10]:
# slicing all column name
large_db.columns[1:large_db.shape[1]]

Index(['AGATC', 'TTTTTTCT', 'AATG', 'TCTAG', 'GATA', 'TATC', 'GAAA', 'TCTG'], dtype='object')

In [11]:
# slicing each column name by column index
small_db.columns[1]

'AGATC'

In [12]:
# total column number
large_db.shape[1]

9

In [13]:
# document well the function
help(seq_check)

Help on function seq_check in module __main__:

seq_check(db, r1, r2)
    @param: db   small_db or large_db
    @param: r1   1 or 5
    @param: r2   5 or 21
    Usage: seq_check(small_db, 1, 5) or seq_check(large_db, 5, 21)
    1.Find every STR in db one by one
    2.Check the STR in given seq
    3.Return specific STR number count

In [14]:
len(seq(19))

6079

In [15]:
seq(19)

'GTACTCACTGCTCTTCTGTCCGAGGGCTCTAGTACAATTAATTCCGGGGTTTGGTTTAATCAGGCTTCGGTATTTCAGGCCACTTAGCGTCTGCAGTTTTCGTAGCAGTTATCGTTAACGACTCCGACTGGCCCGCGCTCCTTAGAAATGTTGACGACGTTTGTTGTGAAATAGGAGTGCGCTTCATGGTCTATTGATAGATAGGACTTAACGTGCGATTCCGCAACGAGGATGACCAGTTTTAGGCCCTGCGCTCGCTGCCCTTATGTAGCAGTATATTACGAATTCTCGGAGTTGAGACAATAAATGCAGGACCACTGAGGCCAACCAGTTCTTCGGCCCCATAGGTGGAGTCATTCCGAAGTGAACCCTACATCTCTACTAGGGGTTGCAAGTTCGCCAAGTAGAACCGTTTGCATCACGAATCGCTTTCTGAAAAGACCGACATTCTGCTCAGACCGTGACACGACTCCGGCCGGCTGATTAGGACATCGCGGTCTCGGTATTCCAGCAAGATTGTTTGACTTTCGAGTTAGGGAAACAATGCTACGCTACTGACACCCCACGATCACCGATTTCAATATTCCCTCCATACGAGGAATGCAAGCGGGCTCAATCAGTAATTGAGAAATCGGATCCTTCTCCTCGTGGATCCATTGCCTATAATCGATGCCGAAATACCACAATTACGAAGAGCCTTGGAGACAGATGCTCAAGATGTCGTTAAGGTATCTTATTGGCATTGTCTATCGTGATGCCGACATAGGACGCGTCGAATCCATAACGATCCGCGAGGCTGTCTCTAGAAGAGGACAGAGCTTGTTGGCGCTAGCTTTCGGGGCATTGGGACCTCCTGCTCGATCATTCTCGGAAATCGATACCTACGCACAACCGAGGGCGGACGCGTGGCGCTGCGTGTCGTCCAGGTGGAAATTAGGTTCGGCATTGAGTCGATGTACTCGCTAGGTTCGTCGTCCCAATCCCTCTGTGGAGTGGCTAAAGCCTGGACCAGGCGCCAGCCTGTTGATAAGATCCTTTACCACCGTAAGGAAGCTGACCGTTGATTATGGTGGGTTGTATCTTGAGTGCTGGCGAGGCTGTAGCCTCGCGATACACGATAGATAGATAGATAGATAAAAAGTTGCACGAAGAATCAAGGCGCGAGAACGATTGATGAAACTCGCCGCACTACATAGATCTATAACAGAACATCAAGGCTAGTCCTTGCCATGAGATCCTTTCGTCTGGGCTTCCCGATGCGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAAGAAACTGGGGGATCCCAGTCCTCCTTCATCACCTCCTTGTTTGCGTTTGTCCCCGATGACGCACCGGTCGGGCATTTAGCTCCGGCGCTACCGGCGGTTCGTTTTGGTAGTCCGCTTTTTCCTCTTATCACCAGCGGCTAGACCCTATAGGCTGATGAGATCGCACTCACTCCACTGCCTAAACACCAACTGAAGCTTTTGTCACGTTGTGGGCCTCTATCGAGGCGCCCCCGGATGAAATCTACCTGGAAGATCGCACCGCCCGGGCGTTGTTAGCACACCGTTCAATATACGTGGTCATTGAGTAACCCAAGACGGTTGGGCTCCATGTACTATACGCCTTTCTTGGGTGGCTACTCTTGTCAGTACTCCAAGGATATAAGCACCTGACGCTTACGCAGCTTTCGCACTACCACGGTTATGTGGTAGTAGATACTCTCCGATAGAGGCAGCCATATCGTAATCAACCCTAATATTCACTATCTATCTATCTATCTATCTATCTATCTATCTATCTATCAATGAATGAATGAATGAATGAATGAATGAATGAATGAATGGGCGTTTTATACCGTGCATCTCAAATAAGCTAAGGCACCGTGGCGATAGCGGGCGATGGGCGGGTCAACTACTTCCAAATGAGTTGACTCTCTCCCATGGTAAAATCTTTGTAGTTCATCGCTTCTCCCTCGAGCACAACTGGGCATATGTCCGGCCGACACGTTGACGTATTCGTGATACGGGCCGGTTGCCTGAACGTATCAGGAGAATCTTTTGAAAAGACTTAAGAGCCAGAGGATAGGAGCAAACCGACGAAACCCGCAGAGTCTCTGTCTGTCTGTCTGTCTGTCTGTCTGTCTGTAAGTTCCCCGGACCCATGAATGTCCGCATAGGTAGTTGAACAAGAACGATATTGCCCGGCCTTCTCCGGGTCGAGGCGTTTGGCTATGGCGACTATCGTAGAAATTCGCGGAATTGAAGCCTCAATGAGGCTAACCACGGCATTTAATTGTACTGACGGGTTGTTATAACTCTTCGCCAATGGTGCGACAACTTCTAGTCTAGTCTAGTCTAGTCTAGTCTAGCGGCCGAGTCAAATGTCGCTACCGCGGTGCCTTAAGGTGCGTCCCCGAATGCCCGAGTGTATCGGCGAGAGCCCTCAATCCACTCTCGATTCTTGTTTTTTGGTGAAGCTACGGCTACCTACTAGGTAATTGACCGACCCTAGCTAACGCAAACCGATGCTCATCAGGGTCCTTCGTATAATCCCGGCGTGAATTACGCGCCTTAGTCCGGTTGCGTAGTGTTGTGGGCTCAACACTATAACTACAAGAAATGGTTGACAGTTAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCAGATCGTAGCAAGCGTGCGAAATTTTTGTGCAAGTTACGCGTTGTGAGAAGGCCCACGCCGCCTTTTACTATCAGCTATTCTGGGAGACGACGCCATATGCTTATGTACCGTTCCAGTTGTCTAAGATGGCGATGCGGTTGGGGCCTACAGGCCACCGCGACTTCCACTCACTGATTCACTTCCGGCCTGCCCGGGCGAACGGGGCACGCAAGTTTGGGTCACAAAATATTGGTGTCGGTGAATGAGGAGCAATCGTCTCAACATAAATTTCCAACTCAGCGAGCTCGGGGTCAACATCTTCGAGGAGTTCAATCTCCTCGCCTAGCATCGCCCTTGGCATTCCACCGCTTCGTTGACCTGTGGATTCTGTAGATCTATGTGGGGATTGCCGCCTAGGGCAGTGAATCCTTTCTCTGTATCATACGACATCTTGCCGAGGAGTTGTAATGCTAATGATCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTTTTTTTCTATTCCAGTCTAATCGATCTTGGGGGACGCCTTTTTTCCTGAGAATCGAATTATGGCTTGACAGCCCCGTCCTGAACGCATCCTGACACGAGTATCTGCGAGAATCGCGTGTTTCTTATATGTTCGACTTGACCTGAGTGGTCTTCAGACGAAGGAAGCCGATCAGGTCGGCTACAGCCGATACGATTCACAAGTCGCTGGCTATCGTACATCAGCTGGACGTTTCCTGCACCGGGCGCTTGATAATTTAACCGATCAGGGGCGCTACTGGCTTCTGATTATACCGAGACATTTACCGATAAGAGGAGAATCATGTGAGCCATTAGTAGGACTGGTAGATCTTTGATGCCCCAGTTATGGCGCCCGGAAATGTCGAATAAGCGCACGCCCATTTACCGAAGGAGATGAAAGCTGCCGCTTGCCAGTTTACGGAAAAGATCGTCGCCTCCTAACTTAGCTTTCAGGCGTTCCGCTTCTAAATCGCGCACATACCTGCTTAAAACCTACTACTGGGGGAAACTTGGCGCGACGCCAGGTTGGATGTCGCTAAGGCCATGGCAGCGTTATTTAAAATAGTGGTCTTTTGACAGGCATGTGGGAGAACCCTTGACTAACCCGAAGACGACGGGACTCTCAGAAAGTGATCGAAGTTCGACCCGATACGCGTCAAAGCTGTTCGTACGATTTAAATAGTCTTGAAACCCGCGACTACACTGTCTGCATGATTTGCCTTTGACGACTCATAGCCTGGGAGTGAAGTGCTTATACCATCCGCTCGCCCGGTAAATTCAGATTATTTCTGACTTGGGCATAATTTTCCTTGGAGTAGTACGCCTTCACGGCGAGACCTCTGGAAAATATAGACAGACGCTCCAGTAACGCCCTAAAGCGGAATCCCTTTTGATGAAATAAGAATGAAGTGGTGGACGCCACTTTTGATTGTCCCTTAACAACTATTCATTACTGTCAGTTATGCAGTCGTACAAAAGACCTCACATTTACAGAAAGACTGAAAGTACCTGAAGTTCACTGCTCGTGGTCTGGGTCTTGAAGGGCACCTCCCACTGAATGCTTGCATATCAACCCTGTCCTCTACATCGCCGAGGCACGAACAACGCGCCAGGTCCCCAACGCGGGCTGGGGAAGTACAAGAGTCACTTCCGAGTATAGACCGAAACAGCGTGCCTGCTCCACTGGCCCGTACCTTAGCTGGTGCAACATCGAATCTCGTGCGTCGCTTTATCAATGTGCTACTTTGCATCACTGTGGGCCCTAGCCGCTTTGTCGCTAGCTATATAGCTGTCGGCCCCCTACAGCGAATCCTTTTGGTATATACACTTTTGGCTAGTTATTTAACAACCGCCACCTATAGGCCCCGGGGGAGAAGTCGATTAGCTTAACTTTAAATTACCCCTAGACCGCAAAGCTTTCGTTTGGGAGGAAGATCCCTACGCTAGATCGATAACACCATGAGCATACGGGTGAATGAACAAGAGTATTTTTTCCATTGCAGCCTCCACCTGGCGTTTGCGCCACAACGGAGCCATAGCGCATCTTAACCATTAAACACTCAGCGAGTAGGCAAGTAGACGATATATAGCAATCTGAATGCACGGTTTACAGTATCGTATCGACCCCTCGGTTGAGCCAGTTGTAGGGGCACACGGCCCAGAATTCTATAGTGAGTTAATAGACGAGAGTACTGACTGAAAATGGAAGGCACCTAGAAATGGGTTACATGGCCAGCTGTTGCCTTTGATTTTCTAACATCGACCTAGGGAAAGACTGCTGGTTGGCAGCCCAGGCGACACCCTTTGTGCGGTTTCCTAAGAAGGTACAGTGAGAGGCTCTTTTCGATGAACACCGGTAATGGCGAAGCGCTAACACCATGCCGAATCATTGGAGCCAACACGTTATTGTCTAGCGCACGGTGACGTAATTCGCGGGAGTGCACAATTGTGTACTTAAAGAATTGAAGGCCGTCCTTAGGGGAATAACTAAATCACCTTATACTTGTTCCACGAAAGCGACGCTTAGCGAGAATTGATCGTGACCCCCAATCCCAGTCTCTAGGTAGAGCTCACCCCATATGCCAGTTTATCGAATGATACCACCGTACGAAACACCGACCGTTTGACCTAGGACGGATCTAGAAGGTTCACCCTAACGTAGGCAAACGGATTGAGTGTGCTAACGGTAGATGGGCGATTCTGAGCAGGGGTAGTGGGGTTGGCTATTTACTAATTATATTACTTGAAAGCGTGAGCGATGCAAATTGGATCGTCCAGTCTTCAGGGTGCATTATATACGTTATACGTGCTGTCCGACACCCTATCTGGCCTTCATCGGACTGTGGCTTTGTGAGACGTCGCGCGCTTTTATATCGACATGATCCACCCACACT'

In [16]:
import sys

# These are the usual ipython objects, including this one you are creating
ipython_vars = ['In', 'Out', 'exit', 'quit', 'get_ipython', 'ipython_vars']

# Get a sorted list of the objects and their sizes
sorted([ ( x, sys.getsizeof( globals().get(x) ) ) 
            for x in dir() 
                if not x.startswith('_') and x not in sys.modules and x not in ipython_vars ]
       , key=lambda x: x[1], reverse=True)

[('large_db', 3063),
 ('small_db', 402),
 ('find_STR', 136),
 ('open', 136),
 ('seq', 136),
 ('seq_check', 136),
 ('a', 128),
 ('b', 120),
 ('np', 72),
 ('pd', 72)]