In [4]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

# NumPy Exercises

## 1. Import numpy as np and print the version number.

In [3]:
import numpy as np
np.__version__

'1.26.4'

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# arange

## 2. Create a 1D array of numbers from 0 to 9 
$> array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

 # np.full

## 3. Create a 3×3 numpy boolean array of all True’s 
<pre>
array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]], dtype=bool)  </pre>

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [12]:
np.full((3,3), True)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [8]:
np.full((3,3), True)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

# .where === filter

## 4. Extract items that satisfy a given condition from 1D array
<pre>
Extract all odd numbers from arr

Given that:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Desired output:
array([1, 3, 5, 7, 9]) </pre>

In [16]:
# Given Input
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

# Solution
np.where(arr%2 != 0)

(array([1, 3, 5, 7, 9]),)

In [15]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
np.where(arr%2 != 0)

# 有條件出 value, 無就出 index

(array([1, 3, 5, 7, 9]),)

## 5. Replace items that satisfy a condition with another value in numpy array
<pre>
Replace all odd numbers in arr with -1

Given Input (in #4):
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Desired Output:
array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1]) </pre>

In [13]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

arr[arr % 2 != 0] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

# np.where
### (條件, 換成乜, 唔換就用乜）-> (odd num, -1, 原有num) ： (arr % 2 != 0, -1, arr)

##  6. Replace items that satisfy a condition without affecting the original array, and use np.where() function, and store value in arr2
<pre>
Replace all odd numbers in arr with -1 without changing arr

Given Input:
arr = np.arange(10)
array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Desired Output:
arr2
array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])
</pre>

In [14]:
arr = np.arange(10)
arr[arr % 2 != 0] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [25]:
arr = np.arange(10)

In [26]:
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [39]:
arr2 = np.where(arr % 2 != 0, -1, arr)
arr2

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

 # .reshape

## 7. Reshape an array
Convert a 1D array to a 2D array with 2 rows
<pre>
Given Input:
np.arange(10)
array([ 0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

Desired Output:
array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])</pre>

In [20]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [21]:
# Setting to -1 automatically decides the number of cols
arr = arr.reshape(2,-1)
arr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

# vstack - 將唔同組array 打直放
## .reshape -1 放尾，就會自動平均分  (row, colnum ) - > (2行row, -1 colum)
## .repeat (1, 10) repeat 1 -> 10 次

## 8. Stack two arrays vertically
<pre>
Stack arrays a and b vertically

Given Input:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

Desired Output:
array([[0, 1, 2, 3, 4],
      [5, 6, 7, 8, 9],
      [1, 1, 1, 1, 1],
      [1, 1, 1, 1, 1]])</pre>

In [32]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
a

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [33]:
b

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [38]:
arr = np.vstack((a,b))
arr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [140]:
arr = np.concatenate((a,b))
arr

array([5, 7, 9, 8, 6, 4, 5, 6, 3, 4, 8, 9, 7, 1])

# horizontally -> hstack  將array 打橫放埋一齊

## 9. Stack two arrays horizontally
<pre>Stack the arrays a and b horizontally.

Given Input:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)

Desired Output:
array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
      [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]]) </pre>

In [39]:
a = np.arange(10).reshape(2,-1)
b = np.repeat(1, 10).reshape(2,-1)
a
# Method 1:

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [28]:
# Method 2:

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [72]:
arr = np.hstack((a,b))
arr

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [145]:
arr2 = np.concatenate([a,b], axis = 1)
arr2

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

## 10. Generate custom sequences in numpy without hardcoding
<pre>Create the following pattern without hardcoding. 
Use only numpy functions and the below input array arr

Given Input:
arr = np.array([1,2,3])

Desired Output:
array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])</pre>

In [4]:
arr = np.array([1,2,3])

In [30]:
# method 2

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [41]:
np.repeat(arr, 3) # repeat index * 3 次

array([1, 1, 1, 2, 2, 2, 3, 3, 3])

In [5]:
np.tile(arr, 3) #tile arr * 3 次：  tile is repeat the pattern 3 times

array([1, 2, 3, 1, 2, 3, 1, 2, 3])

In [43]:
np.concatenate((np.repeat(arr, 3), np.tile(arr,3)))

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [46]:
np.hstack((np.repeat(arr, 3), np.tile(arr,3)))

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

# .intersect1d(a, b) <--- 搵common array

## 11. Get the common items between two python numpy arrays
<pre>
Get the common items between a and b

Given Input:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

Desired Output:
array([2, 4])</pre>

In [6]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

In [7]:
arr = np.intersect1d(a,b)
arr

array([2, 4])

# .intersect1d(a, b)

## 12. Remove from one array those items that exist in another
<pre>From array a remove all items present in array b

Given Input:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

Desired Output:
array([1,2,3,4])

In [87]:
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

In [33]:
np.intersect1d(a,b) # <--- 搵 a, b 同一樣

array([5])

In [8]:
np.setdiff1d(a,b) # <-- 搵只有a 有嘅

array([1, 3, 5, 6])

 ## 搵index 要用 where, 搵 value 可以用intersect1d()

## 13. Get the positions(index) where elements of two arrays match
<pre>Get the positions where elements of a and b match

Given Input:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

Desired Output:
(array([1, 3, 5, 7]),)</pre>

In [94]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

# index position

In [9]:
arr = np.where(a==b)
arr

(array([1, 3, 5, 7]),)

In [96]:
arr = np.where(a == b) #<-- index postion
arr

(array([1, 3, 5, 7]),)

## 14. Extract all numbers between a given range from a numpy array
<pre>Get all items between 5 and 10 from a.

Given Input:
a = np.array([2, 6, 1, 9, 10, 3, 27])

Desired Output:
array([6, 9, 10]) 
or
[6, 9, 10]
</pre>

In [114]:
a = np.array([2, 6, 1, 9, 10, 3, 27])

# Method 1

In [37]:
# Method 2
# [ expression for item in list if conditional ]
arr = a[()]

[6, 9, 10]

In [38]:
# Method 3
# use lambda

[6, 9, 10]

In [109]:
arr = a[(a >= 5) & (a <= 10)]
arr

array([ 6,  9, 10])

In [118]:
arr = a[(a >= 5) & (a <= 10)].tolist()
arr

[6, 9, 10]

In [125]:
arr = list(map(int, filter(lambda x: 5 <= x <= 10, a)))
arr

[6, 9, 10]

## 15. Make a python function that handles scalars to work on numpy arrays
<pre>Convert the function maxx that works on two scalars, to work on two arrays.

Given Input:
def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

maxx(1, 5)
$> 5

Desired Output:
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])
pair_max(a, b)
$> array([6, 7, 9, 8, 9, 7, 5])
or
[6, 7, 9, 8, 9, 7, 5]
</pre>

In [147]:
a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y


# Method 1  (np.vectorize)

pair_max = np.vectorize(maxx)  #vectorize 用嚟比較 2D array, maxx 只做到1 d
pair_max(a,b)

array([6, 7, 9, 8, 9, 7, 5])

In [148]:
# Method 2 (np.frompyfunc)
pair_max = np.frompyfunc(maxx, 2, 1)
pair_max(a,b)

array([6, 7, 9, 8, 9, 7, 5], dtype=object)

In [149]:
# Method 3 (Lambda)
list(map(lambda x,y: maxx(x,y), a,b))

[np.int64(6),
 np.int64(7),
 np.int64(9),
 np.int64(8),
 np.int64(9),
 np.int64(7),
 np.int64(5)]

## 16. Swap two columns in a 2d numpy array
<pre>Swap columns 0 and 1 in the array arr.

Given Input:
arr = np.arange(9).reshape(3,3)
arr
array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

Desired Output:       
array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])       
       </pre>

In [154]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [156]:
arr[:, [1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

## 17. Swap two rows in a 2d numpy array
<pre>Swap rows 0 and 2 in the array arr:

Given input:
arr = np.arange(9).reshape(3,3)
arr
array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])
       
Desired Output:
array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])
</pre>

In [180]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [186]:
arr[[2,1,0]] = arr
arr

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

## 18. Reverse the rows of a 2D array
<pre>Reverse the rows of a 2D array arr.
Given Input:
arr = np.arange(12).reshape(4,3)
array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

Desired Output:
array([[ 9, 10, 11],
       [ 6,  7,  8],
       [ 3,  4,  5],
       [ 0,  1,  2]])    
</pre>

In [177]:
arr = np.arange(12).reshape(4,3)
arr

array([[ 0,  1,  2],
       [ 3,  4,  5],
       [ 6,  7,  8],
       [ 9, 10, 11]])

In [179]:
# [::]  #反轉columns

arr[::-1]

array([[ 9, 10, 11],
       [ 6,  7,  8],
       [ 3,  4,  5],
       [ 0,  1,  2]])

## 19. Reverse the columns of a 2D array
<pre>Reverse the columns of a 2D array arr.
Given Input:
arr = np.arange(15).reshape(3,5)
array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

Desired Output:
array([[ 4,  3,  2,  1,  0],
       [ 9,  8,  7,  6,  5],
       [14, 13, 12, 11, 10]])
</pre>

In [164]:
arr = np.arange(15).reshape(3,5)
arr

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [165]:
arr[:,::-1]

array([[ 4,  3,  2,  1,  0],
       [ 9,  8,  7,  6,  5],
       [14, 13, 12, 11, 10]])