In [1]:
import pandas as pd
import numpy as np
import pandas_ta as ta

import math
import yfinance as yf

from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
yf.__version__

'0.2.52'

In [3]:
df_nvda = yf.download('NVDA', start='2003-01-01', end='2023-01-01').droplevel('Ticker', axis=1)
df_nvda

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open      Volume
Date
2003-01-02   0.094077   0.095148   0.088575   0.091709  1302540000
2003-01-03   0.094077   0.097440   0.092472   0.094384  1037496000
2003-01-06   0.101720   0.103248   0.096294   0.096370  1033428000
2003-01-07   0.101414   0.106076   0.100268   0.103707  1498272000
2003-01-08   0.091326   0.101720   0.090638   0.098816  1852524000
...               ...        ...        ...        ...         ...
2022-12-23  15.194947  15.327850  14.872182  15.184954   349326000
2022-12-27  14.110738  15.089026  14.045785  15.063045   464902000
2022-12-28  14.025799  14.251634  13.873909  13.916878   351066000
2022-12-29  14.592385  14.672327  14.216659  14.391532   354923000
2022-12-30  14.603378  14.618367  14.222655  14.323581   310490000

[5035 rows x 5 columns]

# Label Target

In [4]:
df_nvda['Log_rtn'] = df_nvda['Close'].pct_change(1)
df_nvda['Target'] = df_nvda['Log_rtn'].shift(-1)

In [5]:
df_nvda

Price,Close,High,Low,Open,Volume,Log_rtn,Target
Date,,,,,,,
2003-01-02,0.094077,0.095148,0.088575,0.091709,1302540000,NaN,0.000000
2003-01-03,0.094077,0.097440,0.092472,0.094384,1037496000,0.000000,0.081242
2003-01-06,0.101720,0.103248,0.096294,0.096370,1033428000,0.081242,-0.003011
2003-01-07,0.101414,0.106076,0.100268,0.103707,1498272000,-0.003011,-0.099473
2003-01-08,0.091326,0.101720,0.090638,0.098816,1852524000,-0.099473,0.017573
...,...,...,...,...,...,...,...
2022-12-23,15.194947,15.327850,14.872182,15.184954,349326000,-0.008671,-0.071353
2022-12-27,14.110738,15.089026,14.045785,15.063045,464902000,-0.071353,-0.006019
2022-12-28,14.025799,14.251634,13.873909,13.916878,351066000,-0.006019,0.040396
2022-12-29,14.592385,14.672327,14.216659,14.391532,354923000,0.040396,0.000753
2022-12-30,14.603378,14.618367,14.222655,14.323581,310490000,0.000753,NaN

In [6]:
df_nvda['rsi'] = ta.rsi(df_nvda['Close'], length=14)
df_nvda[['k','d']] = ta.stochrsi(df_nvda['Close'])
df_nvda[['macd','macdhist','macdsignal']] = ta.macd(df_nvda['Close'], 
                                                        fastperiod=12, slowperiod=26, signalperiod=9)
df_nvda['adosc'] = ta.adosc(df_nvda['High'], df_nvda['Low'],df_nvda['Close'],
                    df_nvda['Volume'],fastperiod=3, slowperiod=10)
df_nvda['atr'] = ta.atr(df_nvda['High'], df_nvda['Low'],df_nvda['Close'], timeperiod=14)
df_nvda['tr'] = ta.true_range(df_nvda['High'], df_nvda['Low'],df_nvda['Close'])

In [7]:
df_nvda = df_nvda.dropna()

In [8]:
df_nvda

Price,Close,High,Low,Open,Volume,Log_rtn,Target,rsi,k,d,macd,macdhist,macdsignal,adosc,atr,tr
Date,,,,,,,,,,,,,,,,
2003-02-20,0.098204,0.101185,0.097823,0.098587,978132000,0.000000,0.000784,69.296279,100.000000,98.078926,0.000461,0.004326,-0.003865,1.259909e+09,0.005509,0.003362
2003-02-21,0.098281,0.098511,0.094765,0.098128,913260000,0.000784,0.012438,69.366349,100.000000,100.000000,0.001347,0.004169,-0.002823,1.306781e+09,0.005372,0.003745
2003-02-24,0.099504,0.103096,0.096906,0.097440,1137012000,0.012438,-0.006148,70.516509,100.000000,100.000000,0.002123,0.003956,-0.001833,1.149058e+09,0.005435,0.006190
2003-02-25,0.098892,0.099351,0.094765,0.096294,1239204000,-0.006148,-0.048686,69.118076,98.770478,99.590159,0.002658,0.003593,-0.000935,1.295509e+09,0.005382,0.004739
2003-02-26,0.094077,0.099198,0.093848,0.097593,746892000,-0.048686,0.021124,59.171550,88.795837,95.855438,0.002663,0.002879,-0.000215,1.020367e+09,0.005379,0.005350
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-22,15.327851,16.126271,14.871184,16.082303,565045000,-0.070420,-0.008671,43.410662,6.353433,4.235622,0.257828,-0.258334,0.516161,-1.246632e+08,0.785370,1.617822
2022-12-23,15.194947,15.327850,14.872182,15.184954,349326000,-0.008671,-0.071353,42.515515,6.353433,6.353433,0.138804,-0.301886,0.440690,-7.345105e+07,0.761820,0.455669
2022-12-27,14.110738,15.089026,14.045785,15.063045,464902000,-0.071353,-0.006019,35.994769,0.000000,4.235622,-0.042519,-0.386567,0.344048,-1.753269e+08,0.789487,1.149163
2022-12-28,14.025799,14.251634,13.873909,13.916878,351066000,-0.006019,0.040396,35.534953,0.000000,2.117811,-0.190873,-0.427937,0.237064,-2.229321e+08,0.760076,0.377726
2022-12-29,14.592385,14.672327,14.216659,14.391532,354923000,0.040396,0.000753,40.953499,5.699100,1.899700,-0.259731,-0.397436,0.137705,-1.488350e+08,0.751965,0.646528

## Define how signal raise

In [9]:
# RSI 30 oversold, 70 overbought
df_nvda.loc[df_nvda.index, ['rsi_signal']] = np.where(df_nvda['rsi']<30, 1, 
                                np.where(df_nvda['rsi']>70, -1, 0)).tolist()

In [10]:
# STOCHASTIC k & d below 20, and k > d, buy for oversold
df_nvda.loc[df_nvda.index, ['stoch_signal']] = np.where(
    (df_nvda['k']<20)&(df_nvda['d']<20)&(df_nvda['k']>df_nvda['d']), 1, 
        np.where((df_nvda['k']>80)&(df_nvda['d']>80)&(df_nvda['k']<df_nvda['d']),-1,0)).tolist()

In [11]:
# MACD-histogram > 0, buy signal
df_nvda.loc[df_nvda.index, ['macd_signal']] = np.where(df_nvda['macdhist']>0, 1,
                                        np.where(df_nvda['macdhist']<0, -1, 0)).tolist()

In [12]:
# ADOSC: 0 is threshold line, from <0 to >0, buy signal
df_nvda.loc[df_nvda.index, ['adosc_signal']] = np.where(
            (df_nvda['adosc'].shift(1)<0) & (df_nvda['adosc']>0), 1,
                np.where((df_nvda['adosc'].shift(1)>0) & (df_nvda['adosc']<0), -1, 0)).tolist()

In [13]:
# if current close higher than average range, buy signal
df_nvda.loc[df_nvda.index, ['atr_signal']] = np.where(df_nvda['tr']>df_nvda['atr'], 1,
                                                np.where(df_nvda['tr']<df_nvda['atr'], -1, 0)).tolist()

## Create features and label

In [14]:
feats = df_nvda[['rsi_signal','stoch_signal','macd_signal',
                      'adosc_signal','atr_signal','Log_rtn','Target']].copy()

In [15]:
feats.sample(3)

Price,rsi_signal,stoch_signal,macd_signal,adosc_signal,atr_signal,Log_rtn,Target
Date,,,,,,,
2004-08-09,1.0,0.0,-1.0,0.0,-1.0,0.044539,0.079188
2016-11-23,-1.0,0.0,1.0,0.0,-1.0,0.004920,0.002022
2022-07-14,0.0,0.0,1.0,0.0,-1.0,0.013717,0.025371

In [16]:
# correctly predicted buy
feats['Target'].loc[(feats['rsi_signal']==1)&(feats['Target']>0)].count()

78

In [17]:
# mean of correct predict buy log_return
feats['Target'].loc[(feats['rsi_signal']==1)&(feats['Target']>0)].mean()

0.03375977582654394

In [18]:
# incorrectly predicted buy
feats['Target'].loc[(feats['rsi_signal']==1)&(feats['Target']<0)].count()

77

In [19]:
# mean of incorrect predict buy log_return
feats['Target'].loc[(feats['rsi_signal']==1)&(feats['Target']<0)].mean()

-0.029379295769736722

In [20]:
# correctly predicted sell
feats['Target'].loc[(feats['rsi_signal']==-1)&(feats['Target']<0)].count()

266

In [21]:
# mean of correct predict sell log_return
feats['Target'].loc[(feats['rsi_signal']==-1)&(feats['Target']<0)].mean()

-0.01546992069775532

In [22]:
# incorrectly predicted sell
feats['Target'].loc[(feats['rsi_signal']==-1)&(feats['Target']>0)].count()

289

In [23]:
# mean of incorrect predict sell log_return
feats['Target'].loc[(feats['rsi_signal']==-1)&(feats['Target']>0)].mean()

0.01866753740691362

In [24]:
def indicator_result(indicator, feats):
    buy_correct_time = feats['Target'].loc[(feats[indicator]==1)&(feats['Target']>0)].count()
    buy_correct_mean = feats['Target'].loc[(feats[indicator]==1)&(feats['Target']>0)].mean()
    buy_incorrect_time = feats['Target'].loc[(feats[indicator]==1)&(feats['Target']<0)].count()
    buy_incorrect_mean = feats['Target'].loc[(feats[indicator]==1)&(feats['Target']<0)].mean()
    buy_correct_ratio = buy_correct_time / (buy_correct_time + buy_incorrect_time)
    
    sell_correct_time = feats['Target'].loc[(feats[indicator]==-1)&(feats['Target']<0)].count()
    sell_correct_mean = feats['Target'].loc[(feats[indicator]==-1)&(feats['Target']<0)].mean()
    sell_incorrect_time = feats['Target'].loc[(feats[indicator]==-1)&(feats['Target']>0)].count()
    sell_incorrect_mean = feats['Target'].loc[(feats[indicator]==-1)&(feats['Target']>0)].mean()
    sell_correct_ratio = sell_correct_time / (sell_correct_time + sell_incorrect_time)
    return [ indicator, f"buy_correct_ratio: {buy_correct_ratio:.4f}", 
                        f"buy_correct_mean: {buy_correct_mean*100:.4f}%", 
                        f"sell_correct_ratio: {sell_correct_ratio:.4f}", 
                        f"sell_correct_mean: {sell_correct_mean*100:.4f}%"]

In [25]:
indicator_result('rsi_signal', feats)

['rsi_signal',
 'buy_correct_ratio: 0.5032',
 'buy_correct_mean: 3.3760%',
 'sell_correct_ratio: 0.4793',
 'sell_correct_mean: -1.5470%']

In [26]:
indicator_result('stoch_signal', feats)

['stoch_signal',
 'buy_correct_ratio: 0.5122',
 'buy_correct_mean: 2.1353%',
 'sell_correct_ratio: 0.4803',
 'sell_correct_mean: -1.9965%']

In [27]:
indicator_result('macd_signal', feats)

['macd_signal',
 'buy_correct_ratio: 0.5175',
 'buy_correct_mean: 2.2051%',
 'sell_correct_ratio: 0.4682',
 'sell_correct_mean: -2.2198%']

In [28]:
indicator_result('adosc_signal', feats)

['adosc_signal',
 'buy_correct_ratio: 0.5451',
 'buy_correct_mean: 1.8422%',
 'sell_correct_ratio: 0.4721',
 'sell_correct_mean: -2.4978%']

In [29]:
indicator_result('atr_signal', feats)

['atr_signal',
 'buy_correct_ratio: 0.5164',
 'buy_correct_mean: 2.2967%',
 'sell_correct_ratio: 0.4704',
 'sell_correct_mean: -2.0622%']

## Comprehensive analyse

In [30]:
# We perform buy if triggered by only 1 indicator, we may have 756 correct, and 690 wrong
feats['Comp_signal'] = np.where((np.where(feats['rsi_signal']==1,1,0) +
            np.where(feats['stoch_signal']==1,1,0)+
            np.where(feats['macd_signal']==1,1,0)+
            np.where(feats['adosc_signal']==1,1,0)+
            np.where(feats['atr_signal']==1,1,0)
         )>1 , 1, 0 )

In [31]:
feats['Target'].loc[(feats['Comp_signal']==1) & (feats['Target']>0)].count()  # 746

746

In [32]:
feats['Target'].loc[(feats['Comp_signal']==1) & (feats['Target']<0)].count()  # 682

682

In [33]:
# We perform buy if triggered by at least 2 indicator, we may have 48 correct, and 45 wrong.
feats['Comp_signal'] = np.where((np.where(feats['rsi_signal']==1,1,0) +
            np.where(feats['stoch_signal']==1,1,0)+
            np.where(feats['macd_signal']==1,1,0)+
            np.where(feats['adosc_signal']==1,1,0)+
            np.where(feats['atr_signal']==1,1,0)
         )>2 , 1, 0 )

In [34]:
feats['Target'].loc[(feats['Comp_signal']==1) & (feats['Target']>0)].count()

47

In [35]:
feats['Target'].loc[(feats['Comp_signal']==1) & (feats['Target']<0)].count()

42