# My Python Test

a = add line above, b = add line below, d d = delete, z = undo

In [1]:
print("Hello World")

Hello World

# string " "

In [2]:
message = 'Hello'

In [3]:
message == 'Hello'

True

In [4]:
message = message + ' World'
message

'Hello World'

In [5]:
message * 3

'Hello WorldHello WorldHello World'

In [6]:
message = 123

In [7]:
type(message)

int

# function

In [8]:
def say_hello():
    """say hello to someone print hello"""
    print('hello')
    
say_hello()

hello

# help

In [9]:
help(say_hello)  #""""""" 6 " is a remark for the function name, tell the other people what is the fuction for, 
#make sure you remark in function, remark inclue input and output, how do use it, what for
#help () for others check the fuction, it like a function menu, help(function) -> check the function code, and see the remark

Help on function say_hello in module __main__:

say_hello()
    say hello to someone print hello

In [10]:
hk_population = 7_380_000
print(hk_population)
# _ for , easier to read the number

7380000

In [11]:
hk_pop = 7_400_000
hk_pop
#no need print, it will show the numner

7400000

In [12]:
a, b, c = 1, -2, 0.985
#assign the number to a b c

# format

In [13]:
print(f"a: {a}, b:{b}, c:{c}")
# f = format
# for print result

a: 1, b:-2, c:0.985

In [14]:
MAX_TRY_TIMES = 10 # python constant 要大佳, it wont change

In [15]:
10

10

# list [ ]
### list is mutable

In [16]:
students = ["Alex", "Bob", 'Charlse'] #list []
students

['Alex', 'Bob', 'Charlse']

In [17]:
students[0]

'Alex'

In [18]:
print(student[0])

NameError: name 'student' is not defined

# append, extend

In [ ]:
students.append('David') #<- add David in the list = append, add 1 name in the list
students

In [ ]:
students.extend(['edger', 'Fion']) # add a list in the list
students

In [ ]:
more_students = ['matt', 'edward', 'hazel']
students.extend(more_students)
students

In [ ]:
del students[7]
students

# insert

In [ ]:
students.insert(1,'edgar') #add tom to [2]
students

# del

In [ ]:
del students[0]   #delect Tom
students

# sort

In [ ]:
students.sort(reverse=True) #different data type can not do sorting
students

In [ ]:
sorted(students) #

# len

In [ ]:
len(students) # check the sum of the element = 6

In [ ]:
students_age = [11,12,15,16,17,18] #one list only one data type
students_age

# remove

someStudent=['Alex',11,True, 'Alex','Alex']
someStudent

In [ ]:
someStudent.remove('Alex') # remove <- only remove one
someStudent

# Tuple: can not change, remove and delete
## Tuple is not mutable

In [ ]:
department = ('Human Resouces', 'Sales', 'Marketing', 'Accounting') # Tuple
department

In [ ]:
del department [0]

# Dictional
## name is key : number is value 
## key : value
## between key value pair --> ,  dict dont have insert, the position doesnt matter, its for keys value pairs, we wont use dict for data for large data

In [ ]:
phonebook = {
    'Alex': '7777 8888',
    'cherry' : '8888 9999',
    'Bob': '5555 6666'
}
type(phonebook)

In [ ]:
phonebook # all dict data

In [ ]:
list(phonebook) # only see the keys from the dict

In [ ]:
sorted(phonebook) # sorted the dict

In [ ]:
phonebook['Alex'] # use the key to find the value

In [ ]:
phonebook["David"] = 99990000  # add key in dict

In [ ]:
phonebook

In [ ]:
del phonebook['Bob'] # delete Bob
phonebook

In [ ]:

dict([('Edgar' , '1111222') ,('Anna' ,'66666777'),('Sam' , '22223333')])

In [ ]:
{'Edgar': '1111222', 'Anna': '66666777', 'Sam': '22223333'}

# Merge two dict

In [ ]:
phonebook = phonebook| dict(Edgar = '1111222' , Anna ='66666777', Sam = '22223333')
phonebook

# For loop: get all data from phonebook k = key, v = value

In [ ]:
for k, v in phonebook.items(): # it can be a, b or c, d 
    print(k,v)

In [ ]:
for item in phonebook.items(): 
    print(item[0], item[1])

# sort item[1] = sort value

In [ ]:
exam = {'Carr' : 75, 'Alex' : 60, 'Bob' : 55, 'David' :50}
{k: v for k, v in sorted(exam.items(), key=lambda item: item[1])}

In [ ]:
{k: v for k, v in sorted(exam.items(), key=lambda item: item[1], reverse=True)}

# sort key

In [ ]:
sorted(exam.items())

In [ ]:
dict (sorted(exam.items()))

In [ ]:
dict (sorted(exam.items(), reverse = True))  # reverse

# Set { }

In [ ]:
fruits = {'cherries', 'apple', 'banana', 'durian', 'bananan'}  #<--- set wont dupuilcate
fruits

# Set 合併 union()

In [ ]:
more_fruits = {'fig', 'grape'}
fruits = fruits.union(more_fruits)
fruits

# set 找相同 intersection ()¶

In [ ]:
fruits = {'apples', 'cherries', 'banana', 'fig', 'grape'} 
more_fruits ={'fig','grape', 'melon'}
fruits = fruits.intersection(more_fruits)
fruits

# set 找list A 的不同 difference()

In [ ]:
fruits = {'apple', 'cherries', 'banana', 'durian','fig', 'grape'} 
more_fruits ={'fig','grape', 'melon'}
fruits = fruits.difference(more_fruits)
fruits

# set 找list A ＋ B  的不同symmetric_difference()

In [ ]:
fruits = {'apple', 'cherries', 'banana', 'durian','fig', 'grape'} 
more_fruits ={'fig','grape', 'melon'}
fruits = fruits.symmetric_difference(more_fruits)
fruits

# set union(), intersection (), difference(), symmetric_difference()

In [ ]:
a,b = {1,2,4} , {2,3,4}
a.union(b)

In [ ]:
a.intersection (b)

In [ ]:
a.difference (b)

In [ ]:
a.symmetric_difference(b)

# Statement / Expression

### If statement

In [ ]:
a, b = 1,2
if a > b:
    print("a is greater than b")
elif a < b:
    print("a is smaller than b")
else:
    print("a is equal to b")

### for loop

In [ ]:
stocks = ['AAPL', 'GOOG', 'MSFT', 'AMZN']
for stock in stocks: #stock can be other name, abc or edf, it just a name, but it nne to match print ()
    print(stock)

In [131]:
ages = [12,13,14,15]
for age in ages:
    print(age)
    if age == 14:
        break
else:
    print("for loop complete")

12
13
14

In [122]:

for x in [0,1,2,3]:
    print(x)
    if x ==2:
        break
else:
    print("for loop complete")

1
2

In [125]:
for x in [0,1,2,3,4]:
    print(x)
else:
    print("for loop complete")

0
1
2
3
4
for loop complete

### tuple

In [ ]:
fruits = ('Apple', 'Banana', 'Orange')
for fruit in fruits:
    print(fruit)

## for loop Rang

In [ ]:
for i in range(5):
    print(i)

# While loop

In [ ]:
a, b = 1, 5
while a < b:
    print (a)
    a += 1  # a= a + 1

In [ ]:
a, b = 1, 5
while a < b:
    a += 1
    print (a)

In [132]:
a, b =1,5
while a < b:
    print(a)
    a += 1
    if a ==3:
        break
else:
    print("for loop complete")

1
2

# while True:

In [ ]:
a, b = 1, 5
while True:
    print(a)
    a += 1
    if a ==b:
        break

In [2]:
while True:
    ans = input("What program do you like: ")
    if ans.lower() == 'python':
        print("correct")
        break

What program do you like:  python

correct

# .lower() lower cap .upper() upper cap

In [3]:
'Python'.lower()

'python'

# .title()

In [4]:
'python java'.title()

'Python Java'

# Function

In [2]:
def say_hello():
    """A Function to say hello"""
    print("hello!")

say_hello()

hello!

In [12]:
def say_hello(someone):
    """say hello to someone"""
    print(f"Hello {someone}!")

say_hello("Honda")

Hello Honda!

In [3]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    A Function to say hello

In [6]:
def say_hello(someone: str) -> str :
    """Say Hello to someone
    parameter: someone, input a string for output
    """
    print(f"Hello {someone}!")
say_hello("Honda")

Hello Honda!

In [8]:
def multiply (x: float, y: float) -> float:
    """calculate x times y"""
    return x * y

print(multiply(3,4))
print(multiply(4.2, 5.5))

12
23.1

# *args <- arguments

In [11]:
def sum_num( *args):
    total_args = 0
    for arg in args:
        total_args += arg
    return total_args

print(sum_num(1))
print(sum_num(1,2,3))
print(sum_num(1,2,3,2))

1
6
8

In [25]:
def multiply_num(*args) -> float:
    """Multiply numbers"""
    total_nums = 1
    for num in args:
        total_nums *= num
    return total_nums

print(multiply_num(1, 2))          
print(multiply_num(1, 2, 3))       
print(multiply_num(2, 3, 4))

2
6
24

# *args is a list

In [24]:
*args, = 1, 2, 3, 4, 5   #save the data
args

[1, 2, 3, 4, 5]

In [23]:
mul_num = 1
for arg in args:
    mul_num *= arg
print(mul_num)

120

# **kwargs <- keyword arguments

In [28]:
def my_setting(**kwargs):
    setting = []
    for item in kwargs.items():
        setting.append(item)
    return setting
print(my_setting(unit_tag = "Rebel", shoot_range = 100, bullet_num =24))
print(my_setting(bullet_num = 50))

[('unit_tag', 'Rebel'), ('shoot_range', 100), ('bullet_num', 24)]
[('bullet_num', 50)]

# **kwargs + *args  / 必須 *arg 排先

In [32]:
def more_setting(*arg, **kwargs): # 必須 *arg 排先
    for arg in args:
        print(arg)
    for item in kwargs.items():
        print(item)
    return
more_setting(1,2,3, lang='pyothon', group='advance')

1
2
3
4
5
('lang', 'pyothon')
('group', 'advance')

In [30]:
def my_func():
    return 1, 2, 3
a, b, c = my_func()
print(a)
print(b)
print(c)

1
2
3

def calculate(*args, method='add'):
    if method.lower() == 'add':
        total = 0
        for arg in args:
            total += arg
        return total

    elif method.lower() == 'multiply':
        total = 1
        for arg in args:
            total *= arg
        return total

    else:
        return "Unknown method"
        
calculate(2,3,4, method ='Multiply')

In [40]:
calculate(2,3,4, method ='add')

9

def calculate2(*nums, method ='add'):
    if method.lower() == 'add':
              total = 0
              for num in nums:
                  total += num
              return total

    elif method.lower() == 'multiply':
              total = 1
              for num in nums:
                 total *= num
              return total
    else:
        return "method error"

        
calculate2(1,2,3, method = 'add')

In [62]:
def calculate (*args, method = 'add'):
    if method.lower() == 'add':
        total = 0
        for arg in args:
            total += arg
        return total
    elif method.lower() == 'multiply':
        total = 1
        for arg in args:
            total *= arg
        return total
    else :
        return "method unknow"

calculate(2,3,4, method = 'add')

9

In [75]:
def calculate (*args, **kwargs):
    """param: 
            *args: vaious of number
            **kwargs: method = 'add' for add up
            method = 'multiply' for mytiply all num"""
    for item in kwargs.items():
        if item[0] == 'method':
            method = item[1]
            if method == 'add':
                value = 0
                for arg in args:
                    value += arg

            elif method == 'multiply':
                value = 1
                for arg in args:
                    value *= arg

            else:
                raise Exception('Please input method="add" or mthod="multiply"')
                                
            return value
        else: 
            raise Exception('Please input method="add" or mthod="multiply"')

calculate(2,2,3, method = 'add')

7

In [76]:

calculate(2,2,3, method = 'multiply')

12

# 搵座標 write a funtion  include 2 tuples Y & X locationand calucate the distance of X and Y

In [23]:
data = [(1,1), (2,2)]  # 俾data 個形，for input

def cal_distance(date: list) -> float:
    """Calculate the distance of two points
       param: list of two points
    """
    x1, y1 = date[0][0], date[0][1]   # 用傳入嘅參數 date
    x2, y2 = date[1][0], date[1][1]

    d = (abs(x1 - x2)**2 + abs(y1 - y2)**2) ** 0.5
    
    return d

cal_distance(data)

1.4142135623730951

In [6]:
abs(-9.9)

9.9

In [9]:
4 ** 2 # ** ＝ 二次方 / 平方

16

In [25]:
cal_distance([(2,3),(-1,-1)])

5.0

# min -> find the minium 搵最小

In [26]:
min (2,-1,5,0)

-1

# nested loop

In [67]:
lunch = ["A" , "B", "C"]
drink = [1,2,3]
for l in lunch:
        for d in drink:
            print(l,d)

A 1
A 2
A 3
B 1
B 2
B 3
C 1
C 2
C 3

In [85]:
def finMinDis(points) -> dict:
    """find the minimum distance of 3 points"""

    result = dict()

    for i in range(len(points)):    
      for j in range(i, 3):
       if i != j:
           result[str(f'{i}-{j}')] = cal_distance([points[i], points[j]])

    return min(result, key = result.#get)


print(finMinDis([(4,5), (-1,-1), (1,-1),(0, 0.5)]))

1-2

# lambda <= one time function, no memory

In [86]:
def add_x_y(x,y):
    return x + y
add_x_y(4,5)

9

In [87]:
x_y_add = lambda x,y : x +y
x_y_add(4,5)

9

# one Liner

In [89]:
x = [1,2,3,4]
y=[]   # <------- 開新list俾佢入loop result
for a in x:
    if i % 2 == 0:
        y.append(a)
y

[2, 4]

In [90]:
[a for a in [1,2,3,4,5] if a % 2 ==0]

[2, 4]

# list comprehension

In [91]:
x = [1,2,3,4]
y = [a for a in [1,2,3,4,5] if a % 2 ==0]
y

[2, 4]

In [92]:
names = ["gary", "henry", "ivy", "jean"]
names = [name.title() for name in names] #<-- title upper case on the first letter
names

['Gart', 'Henry', 'Ivy', 'Jean']

In [94]:
[name.upper() for name in ["gary", "henry", "ivy", "jean"]]

['GARY', 'HENRY', 'IVY', 'JEAN']

In [95]:
[name + '@abc.com' for name in ["gary", "henry", "ivy", "jean"]]

['gary@abc.com', 'henry@abc.com', 'ivy@abc.com', 'jean@abc.com']

# function Mechnism

In [98]:
def f1():
    print("Hello")

f1() # <--- call function

Hello

In [99]:
def f1():
    print("Hello")

print(f1) #<---- function address in memory

<function f1 at 0x1048c6de0>

In [100]:
import dis
dis.dis(f1)

  1           RESUME                   0

  2           LOAD_GLOBAL              1 (print + NULL)
              LOAD_CONST               1 ('Hello')
              CALL                     1
              POP_TOP
              RETURN_CONST             0 (None)

In [108]:
def f1():
    print("hello")
    
def f2(a):
     a()

f2(f1)

hello

# Inner Fuction

In [109]:
def f2():
    def f1():
        print("hello")
    f1()
f2()

hello

In [118]:
def f2(func):
    def f1():
        print("hello")
        func()
    return f1

def f3():
    print("python")

print(f2(f3))
f2(f3)()

<function f2.<locals>.f1 at 0x104902fc0>
hello
python

# decarator @

In [119]:
def f2(func):
    def f1():
        print("hello")
        func()
    return f1

@f2
def f3():
    print("python")

print(f3)
f3()

<function f2.<locals>.f1 at 0x1049014e0>
hello
python

In [120]:
f3()

hello
python

# decarator @ example

In [123]:
def outter(func):
    def inner():
        x = func()
        return x**2
    return inner

@outter
def pass_num():
    return 3

pass_num()

9

In [127]:
def square_num(func):
    def inner(num):
        x = func(num)
        return x**2
    return inner
    
@square_num
def pass_num(num):
    return(num)

pass_num(3)

9

In [131]:
import time

#define the decorator function
def timer_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func (*args, **kwargs)
        end_time = time.time()
        print(f"{func.__name__} took {end_time - start_time: .2f} seconds to excute")
        return result
    return wrapper

# Apply the decorator to a function
@timer_decorator
def slow_function(sec):
    time.sleep(sec)

#call the decoRATED FUNCTION
slow_function(2)

slow_function took  2.00 seconds to excute

# modify code 2 - *args

In [3]:
def sum_num(func):
    def inner(*args):
        total = 0
        for arg in args:
            total += arg
        return total
    return inner

@sum_num
def pass_num(num):
    return num
    
pass_num(1,2,3,4)

10

In [7]:
def power_num(func):
    def inner(*args, **kwargs):
        x = func(*args, **kwargs)
        return x ** 2
    return inner
    
def sum_num(func):
    def inner(*args):
        total = 0
        for arg in args:
            total += arg
        return total
    return inner

@power_num
@sum_num #<--- run this first
def pass_num(num):
    return num
    
pass_num(1,2,3,4)

100

In [11]:
@power_num
def power_num(num):
        return num
power_num(3)

9

In [12]:
def power_num(func):
    def inner(*args, **kwargs):
        x = func(*args, **kwargs)
        return x ** 2
    return inner
    
def sum_num(func):
    def inner(*args):
        total = 0
        for arg in args:
            total += arg
        return total
    return inner

@power_num
@sum_num #<--- run this first
def pass_num(num):
    return num
    

pass_num(1,2,3,4)

100

In [13]:
def power_num(func):
    def inner(*args, **kwargs):
        nums = func(*args, **kwargs)        # (1,2,3,4)

        # step 2: 逐個 square（LOOP 在這裡）
        squared = [n ** 2 for n in nums]    # [1,4,9,16]

        return squared
    return inner


def sum_num(func):
    def inner(*args, **kwargs):
        squared_list = func(*args, **kwargs)   # [1,4,9,16]

        total = 0
        for n in squared_list:                 # 再 SUM
            total += n

        return total
    return inner


@sum_num      # 外層 → 第二步（SUM）
@power_num    # 內層 → 第一步（SQUARE）
def pass_num(*nums):
    return nums     # simply return 原本的 arguments


print(pass_num(1, 2, 3, 4))   # 👉 30

30

# L <- Local inside the function , E <- non-local, between fuction, G <- global

In [30]:
x = 'python'
def myfunc():
    global x  #<---- make x global, over write the x in first line
    x = "fantastic"

myfunc()

print("python is " + x)

python is fantastic

In [21]:
def myfunc1():
    x = "John"
    def myfunc2():
        nonlocal x 
        x = "hello" # python treat this inner cariable and work only in the local
    myfunc2()
    return x
    
print(myfunc1())

hello

In [24]:
foo = 0 # < - x
def outer ():
    foo = 5 #< -x
    def middle():
        foo = 10 # <- O
        def inner():
            nonlocal foo # here
            foo += 1
            print(foo) #11
        inner()
    middle()
outer()

11

In [26]:
foo = 0 # < - x


print('global foo address: ', id(foo), ', value =', foo)
def outer ():
    foo = 5 #< -x
    print('outer nonlocal foo address: ', id(foo), ', value =', foo)
    def middle():
        foo = 10 # <- O
        print('middle nonlocal foo address: ', id(foo), ', value =', foo)
        def inner():
            #print('foo address before global assignment: ', id(foo), ', value =', foo)
            nonlocal foo # here
            foo += 1
            print('inner golbal foo address: ', id(foo), ', value =', foo)
            print(foo) #11
        inner()
    middle()
outer()

global foo address:  4322128808 , value = 0
outer nonlocal foo address:  4322128968 , value = 5
middle nonlocal foo address:  4322129128 , value = 10
inner golbal foo address:  4322129160 , value = 11
11

In [32]:
def scope_test():
    def do_local():
        spam='local spam'
        
    def do_nonlocal():
        nonlocal spam
        spam = 'nonlocal spam'
        
    def do_global():
        global spam
        spam = 'global spma'
    
    spam = 'test spam'
    
    do_local()
    print('after local assignment:', spam)
    do_nonlocal()
    print('after nonlocal assignment:', spam)
    do_global()
    print('after global assignment:', spam)

scope_test()
print('In global assignment:', spam)

after local assignment: test spam
after nonlocal assignment: nonlocal spam
after global assignment: nonlocal spam
In global assignment: global spma

# built - ins

In [33]:
dir (__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BaseExceptionGroup',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EncodingWarning',
 'EnvironmentError',
 'Exception',
 'ExceptionGroup',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'PythonFinalizationError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'ZeroDivisionError',
 '_IncompleteInputError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'aiter',
 'all',
 'anext',
 'any',
 'ascii',
 'bin',
 'bool',
 'breakpoint',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'execfile',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'runfile',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

#  Math is python builtins libary, import

In [34]:
import math #squre 9**0.5 
print (math.sqrt(9))

3.0

In [36]:
# Returns x raised to the power y
pow (2,3) #2的3次方

8

In [37]:
print (math.floor(5.9)) #最接近低整數
print (math.ceil(5.1))  #最接近高整數

5
6

In [39]:
# Returns an accurate floating point
# sum of valuess in the iterable
math.fsum([0.1,0.2,0.3,0.4]) #數加埋做float，有小數點

1.0

In [41]:
# returns the remainder when x is divided by y
math.fmod(5,2) #餘數，5/2 ＝1

1.0

In [42]:
# returns the factorial of x, x!
math.factorial(4) #佳* 4*3*2*1

24

In [52]:
math.pi

3.141592653589793

In [43]:
# euler number
math.e  #指數關係

2.718281828459045

In [44]:
# returns e**x
math.exp(1)

2.718281828459045

In [53]:
# returnes the natural logarithm of 1 +x
math.log1p(20.0855) #計回報率

3.0485856004577934

In [47]:
#return the number of ways to choose k items
# from n items without repetition and without orders.
# NCR function     math.comb(n,k)
math.comb(6,3)

20

In [48]:
# returns the logarithm of x to the base b (defaults to e)
# log(x[,b])
math.log(100, 10) #自然對數

2.0

In [49]:
# returns the base -e logarithm of x
math.log2(8)

3.0

In [51]:
#returns the base-10 logarithm of x
math.log10(1000)

3.0

In [61]:
d1 = 100
d2 = 120
d3 = 100
math.log (d2/d1) #math.log(1.2)

0.1823215567939546

In [62]:
d3 = 100
math.log (d3/d2)

-0.1823215567939546

In [64]:
math.log1p((d2-d1)/d1) #math.log1p(20%)

0.18232155679395465

In [65]:
math.comb(49, 6)

13983816

In [66]:
math.comb(6,2)

15

# max & min

In [73]:
# Other built-in for common data analysis
stu_score = {'alex':55, 'Bob':65, 'Chris':60}
key = max(stu_score, key= lambda k: stu_score[k])
print ('highest score student: ', key)
print ( "Highest student's score: ", stu_score[key])

highest score student:  Bob
Highest student's score:  65

In [77]:
prod_rating = { 1: 3, 2:1, 3:5, 4:10, 5:3}
key = min(prod_rating, key = lambda k : prod_rating[k])
print("Lowest vote:", key)
print("Lowest vote count:", prod_rating[key])

Lowest vote: 2
Lowest vote count: 1

# enumerate <- lable the dict

In [79]:
list(enumerate({"alex":55, "Bob":65, "Chris": 60}))

[(0, 'alex'), (1, 'Bob'), (2, 'Chris')]

In [82]:
stu_result = {"alex":55, "Bob":65, "Chris": 60}

for count, item in enumerate(stu_result, 1): #<- 由1開始計 
    print(item, stu_result[item])
print ("Total student in record", count)

alex 55
Bob 65
Chris 60
Total student in record 3

# zip

In [84]:
key = ['a','b','c', 'd']
value = [1,2,3,4]
print("zip into a list >", list(zip(key, value)))
print("zip into a dict >", dict(zip(key, value)))

zip into a list > [('a', 1), ('b', 2), ('c', 3), ('d', 4)]
zip into a dict > {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [86]:
x = (1,2,3,4)
y = (5,6,7,8)
z = (9,10,11,12)
print ("zip into a list > ", list(zip(x,y,z)))

zip into a list >  [(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

# map

In [87]:
import math

number = ((3,4),(4,5,6),(6,8))
def cal_length(x):
    return math.sqrt(x[0]**2 + x[1]**2)
list(map(cal_length, number))

[5.0, 6.4031242374328485, 10.0]

In [90]:
var1 = (1,1,1,1)
var2 = (2,3,4,5)
var3 = (5,6,7,9)
list (map(lambda x,y,z : x + y+z, var1, var2, var3))

[8, 10, 12, 15]

In [91]:
def add_three(a,b,c): return a+b+c
var1 = (1,1,1,1)
var2 = (2,3,4,5)
var3 = (5,6,7,9)
list (map(add_three, var1, var2, var3))

[8, 10, 12, 15]

In [97]:
numbers = [1.05, 1.15, 1.25, 1.35, 1.45, 1.55, 1.75]
roundhalf = [0]
#[round(n,1) for n in numbers]
sum([round(n,1) for n in numbers]) # <-- banker rounding

9.6

# split

In [101]:
sentence = "hello, how are you? \
im fine thank you \
not yet finish\
keep going \
go, go go, go "

words = sentence.split() # <-- split wording 
words

['hello,',
 'how',
 'are',
 'you?',
 'im',
 'fine',
 'thank',
 'you',
 'not',
 'yet',
 'finishkeep',
 'going',
 'go,',
 'go',
 'go,',
 'go']

In [104]:
"3333-4444-55555-66666".split('-')
"3333.4444.55555.66666".split('.')

['3333', '4444', '55555', '66666']

In [106]:
def count_char(word):
    return len(word)
list(map(count_char, words))

[6, 3, 3, 4, 2, 4, 5, 3, 3, 3, 10, 5, 3, 2, 3, 2]

In [107]:
[len(w) for w in words]

[6, 3, 3, 4, 2, 4, 5, 3, 3, 3, 10, 5, 3, 2, 3, 2]

# regurar expression

In [110]:
import re
pattern = "^Apple"
string = "Apple plans to invest $10Bn in motion picture."
result = re.search(pattern, string)

print("pattern found: ", result[0]) if result else print("No pattern existed.")
result

pattern found:  Apple

In [112]:
import re
pattern = "mac"
string = "imac BigMac macbook"
result = re.findall(pattern, string, flags=re.IGNORECASE)

print(f"{len(result)} pattern(s) found.") if result else print ("no pattern existed.")
result

3 pattern(s) found.

['mac', 'Mac', 'mac']

# API - dict

In [115]:
import requests

response = requests.get("https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=flw&lang=tc")
forecast = response.json()
forecast

{'generalSituation': '受東北季候風影響，廣東沿岸天氣非常乾燥，風勢頗大。下午本港大部分地區的相對濕度維持在百分之二十左右。',
 'tcInfo': '在下午四時，颱風天琴集結在南沙之西北偏北約330公里，預料向西緩慢移動，橫過南海南部。',
 'fireDangerWarning': '',
 'forecastPeriod': '本港地區今晚及明日天氣預測',
 'forecastDesc': '天氣非常乾燥。初時部分時間多雲。明早清涼，市區最低氣溫約16度，新界再低兩三度。日間大致天晴，最高氣溫約22度。吹和緩至清勁偏北風，初時離岸及高地間中吹強風。稍後轉吹和緩東至東北風。',
 'outlook': '星期六大致天晴，日間乾燥。下週初相對濕度回升，大致多雲，有一兩陣雨。',
 'updateTime': '2025-11-27T16:45:00+08:00'}

# Regular Expression RE

In [1]:
import requests

def gen_report():
    print("Hong Kong Weather Report")
    print(forecast['updateTime'])
    print("[Forecast]")
    print(forecast['forecastDesc'])
    print("[Outlook]")
    print(forecast['outlook'])  

try:
    language = 'tc'    # 'en'
    response = requests.get(f"https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=flw&lang={language}")
    forecast = response.json()
    gen_report()
except Exception as e:
    print("Error", e)

Hong Kong Weather Report
2025-12-01T10:45:00+08:00
[Forecast]
大致多雲。早上有一兩陣微雨。吹和緩東北風。
[Outlook]
明日大致多雲，早晚有一兩陣微雨。星期三漸轉吹偏北風，隨後兩三日早上稍涼，部分時間有陽光。

In [2]:
import requests
from argparse import ArgumentParser, ArgumentDefaultsHelpFormatter

parser = ArgumentParser(prog='python hkweather.py',
    description='Hong Kong Weather Forecast香港天氣預報',
    formatter_class=ArgumentDefaultsHelpFormatter)

parser.add_argument("-l", "--language", help="Language (en, tc)")

args = vars(parser.parse_args())

def gen_report():
    print("Hong Kong Weather Report")
    print(forecast['updateTime'])
    print("[Forecast]")
    print(forecast['forecastDesc'])
    print("[Outlook]")
    print(forecast['outlook'])  

try:
    language = args["language"]    
    response = requests.get(f"https://data.weather.gov.hk/weatherAPI/opendata/weather.php?dataType=flw&lang={language}")
    forecast = response.json()
    gen_report()
except:
    print("usage: python hkweather.py [-h] [-l LANGUAGE]")
    
# usage 
# python hkweather.py -l tc
# python hkweather.py -l en

usage: python hkweather.py [-h] [-l LANGUAGE]
python hkweather.py: error: unrecognized arguments: -f /Users/bohui/Library/Jupyter/runtime/kernel-29baafd0-9077-418d-9589-daf69a646f9e.json

SystemExit: 2

/Users/bohui/.pyenv/versions/3.13.3/lib/python3.13/site-packages/IPython/core/interactiveshell.py:3707: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)